<!-- start banner Area -->
<app-bannar-area></app-bannar-area>
<!-- End banner Area -->

<!-- Start feature Area -->
<app-feature-area></app-feature-area>
<!-- End feature Area -->
    
<!-- Start popular-course Area -->
<app-popular-courses-area></app-popular-courses-area>
<!-- End popular-course Area -->


<!-- Start search-course Area -->
<app-search-course-area></app-search-course-area>
<!-- End search-course Area -->


<!-- Start upcoming-event Area -->
<app-up-coming-events-area></app-up-coming-events-area>
<!-- End upcoming-event Area -->
      
<!-- Start review Area -->
<app-review-area></app-review-area>
<!-- End review Area -->	

<!-- Start cta-one Area -->
<app-cta-one-area></app-cta-one-area>
<!-- End cta-one Area -->

<!-- Start blog Area -->
<app-blog-area></app-blog-area>
<!-- End blog Area -->			


<!-- Start cta-two Area -->
<app-cta-two-area></app-cta-two-area>
<!-- End cta-two Area -->
